* {
  margin: 0;
  padding: 0;
}

.link,
.github_dl {
  background-color: #4ECDC4;
  color: #fff;
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  margin: 0 5px;
  zoom: 1;
  padding: 1px 5px;
  text-decoration: none;
  text-shadow: rgba(0, 0, 0, .5) 0 1px 0;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-transition: background-color .5s;
  -moz-transition: background-color .5s;
  -o-transition: background-color .5s;
  transition: background-color .5s;
}
  .link:hover {
    background-color: #333;
  }

.github_dl {
  background-color: #F27435;
  float: left;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
  box-shadow: 0 5px 0 #a65026;
  -moz-box-shadow: 0 5px 0 #a65026;
  -webkit-box-shadow: 0 5px 0 #a65026;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
  .github_dl:hover {
    background-color: #F02475;
    box-shadow: 0 5px 0 #af1a55;
    -moz-box-shadow: 0 5px 0 #af1a55;
    -webkit-box-shadow: 0 5px 0 #af1a55;
  }
  .github_dl span {
    display: block;
    font-size: 14px;
  }
  .github_dl:active {
    position: relative;
    top: 5px;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
  }

body {
  background-color: #F4EAD5;
  color: #556270;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 100%;
  line-height: 1.5;
}

.group:before,
.group:after {
    content: "";
    display: table;
}
.group:after {
    clear: both;
}
.group {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

.part p {
  clear: left;
  margin-bottom: 1.5em;
}

.awesomeness {
  background-color: #556270;
  color: #fff;
  padding: 10px;
}

.gist {
  font-weight: normal;
  text-shadow: none;
}
  .gist a {
    color: #556270!important
  }
  .gist-file {
    border: none!important;
  }
  .gist-meta {
    background-color: transparent!important;
    font-size: 10px!important;
  }
  .gist-data {
    background-color: transparent!important
  }
  .gist-highlight .line {
    color: #999!important;
  }
  .gist-highlight .nt,
  .gist-highlight .na {
    color: #556270!important;
  }
  .gist-highlight .s {
    color: #C44D58!important;  
  }
  .gist-highlight .nx {
    color: #3B2D38!important;
  }

code {
  background-color: #fff;
  border-bottom: 1px dotted #ccc;
}

.bigintro {
  font-size: 21px;
  line-height: 30px;
}

.part {
  border-bottom: 1px solid #ccc;
  margin: 0 auto 30px auto;
  padding:  0 0 10px;
  width: 600px;
}

.header {
  background-color: #F4EAD5;
  width: 100%;
}
  .header h1 {
    color: #E94E77;
  }
  .header h1 span {
    color: #556270;
  }

ul {
  list-style: none;
}

.header_inner {
  margin: 0 auto;
  padding: 50px;
  width: 600px;
}
  .header_inner h1 {
    float: left;
  }


.example {
  background-color: rgba(255, 255, 255, .5);
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  padding: 18px;
}
  .example .gist-data {
    font-size: 12px!important;
  }

fieldset {
  border: none;
}
  fieldset legend {
    font-size: 14px;
    font-weight: bold;
  }

.how_to_use p {
  margin-bottom: 18px;
}

h1 {
  font-family: "Corben", Helvetica, Arial, sans-serif;
}
h1 span,
h2 {
  font-family: 'Helvetica', arial, serif;
}

h1,
h2 {
  margin-bottom: 0;
  padding: 0;
}

h2 {
  color: #556270;
  font-size: 24px;
  margin-bottom: 18px;
}

h1 span {
  display: block;
  font-size: 16px;
}

.dk_container {
  margin-right: 10px;
}

.sharing li {
  float: left;
  margin-right: 10px;
}