/**
 * Storenvy Dropdown Menus
 * @author Jamie Lottering <jamie@storenvy.com>
 */

/* Feel free to theme this yourself */
.dropkick_container {
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 14px;
  margin-bottom: 20px;
}
 .dropkick_container a {
   cursor: pointer;
   text-decoration: none;
 }
 
 .dropkick_container .dropkick_toggle {
   background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f5f5f5));
   background: -moz-linear-gradient(top, #fff, #f5f5f5);
   background: -o-linear-gradient(top, #fff, #f5f5f5);
   background-color: #f5f5f5;
   border: 1px solid #ccc;
   color: #333;
   padding: 7px 45px 7px 10px;
   text-shadow: #fff 1px 1px 0;
   border-radius: 5px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   -webkit-transition: border-color .5s;
   -moz-transition: border-color .5s;
   -o-transition: border-color .5s;
   transition: border-color .5s;
 }
 .dropkick_toggle:focus,
 .dropkick_toggle.focus {
   border-color: #333;
   box-shadow: 0 0 5px #40b5e2;
   -moz-box-shadow: 0 0 5px #40b5e2;
   -webkit-box-shadow: 0 0 5px #40b5e2;
 }
 .dropkick_container .dropkick_toggle:hover,
 .dropkick_container.open .dropkick_toggle {
   border-color: #8c8c8c;
 }
 .dropkick_container .dropkick_arrows {
   font-size: 33px;
   padding: 11px 3px 3px;
   text-align: center;
 }
   .open.dropkick_container .dropkick_arrows {
     padding-top: 10px;
     padding-bottom: 5px;
   }
 .open.dropkick_container .dropkick_toggle {
   background: #ececec;
   border-radius: 5px 5px 0 0;
   -moz-border-radius: 5px 5px 0 0;
   -webkit-border-radius: 5px 5px 0 0;
 }
 .open.dropkick_container .dropkick_label {
   color: #ccc;
 }

/* Advise against editing */
.dropkick_container {
  clear: both;
  float: left;
  position: relative;
}
  .dropkick_container a {
    outline: 0;
  }

.dropkick_toggle {
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  position: relative;
  zoom: 1;
}
  .dropkick_toggle:active {
    box-shadow: inset rgba(0, 0, 0, .2) 0 0 10px;
    -moz-box-shadow: inset rgba(0, 0, 0, .2) 0 0 10px;
    -webkit-box-shadow: inset rgba(0, 0, 0, .2) 0 0 10px;
  }

.dropkick_arrows {
  display: block;
  position: absolute;
  right: 0;
  top: -1px;
}
  .open .dropkick_arrows {
    background-color: #fff;
    background-position: center 9px;
    border-left: 1px solid #8c8c8c;
    border-top: 1px solid #8c8c8c;
    z-index: 10;
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    box-shadow: rgba(0, 0, 0, .1) -2px -1px 2px;
    -moz-box-shadow: rgba(0, 0, 0, .1) -2px -1px 2px;
    -webkit-box-shadow: rgba(0, 0, 0, .1) -2px -1px 2px;
  }
    .websockets .open .dropkick_arrows { /* Non-permanent Modernizr fix for WebKit */
      padding-bottom: 9px;
    }

.dropkick_options {
  display: none;
  margin-top: -1px;
  list-style: none;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 5;
  box-shadow: rgba(0, 0, 0, .2) 0 2px 8px;
  -moz-box-shadow: rgba(0, 0, 0, .2) 0 2px 8px;
  -webkit-box-shadow: rgba(0, 0, 0, .2) 0 2px 8px;
  border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
}
  .open .dropkick_options {
    display: block;
  }
  .dropkick_options a,
  .dropkick_options a:link,
  .dropkick_options a:visited {
    border-bottom: 1px solid #999;
    color: inherit;
    display: block;
    font-weight: bold;
    padding: 8px 10px;
    text-shadow: inherit;
  }
    .dropkick_options li:last-child a {
      border-bottom: none;
    }
    .dropkick_options a:hover,
    .dropkick_options .dropkick_option_current {
      background-color: #0084c7;
      color: #fff;
      text-decoration: none;
      text-shadow: rgba(0, 0, 0, .5) 0 1px 0;
      border-bottom-color: #004c72;
    }
    .dropkick_options a:active,
    .dropkick_options a.active {
      background-color: #333;
      text-shadow: rgba(0, 0, 0, 1) 0 -2px 0;
    }

.dropkick_options_inner {
  background-color: #fff;
  border: 1px solid #8c8c8e;
  border-bottom-width: 2px;
  border-bottom-color: #999;
  color: #333;
  max-height: 250px;
  overflow: auto;
  text-shadow: #fff 0 1px 0;
  border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
}
