.hidden-option {
  display: none;
}

/* Search Field Styles */

#dk-search_select .dk-select-options {
  margin-bottom: 2em;
}
#dk-search_select .dk-select-options {
  margin-top: 2em;
}

.dk-search {
  width: 100%;
  height: 2em;
  display: none;
  padding: 0.25em;
  position: absolute;
  border-width: 0 1px;
  border-style: solid;
  border-color: #3297fd;
}

.dk-select-open-up .dk-search,
.dk-select-open-down .dk-search {
  display: block;
}
.dk-select-open-up .dk-search {
  bottom: 100%;
}
.dk-select-open-down .dk-search {
  top: 100%;
  background-color: white;
}

.dk-search-input {
  width: 100%;
  height: 100%;
  border: none;
  font: inherit;
  display: block;
  padding: 0 0.25em;
  &:focus {
    outline: none;
  }
}

.dk-search-fuzzy-highlight {
  background-color: rgba(0,0,0,0.1);
}

//Quick bs styling
.example-container {
  background-color: #E7E7E7;
  padding: 15px;
  display: inline-block;
  vertical-align: middle;
  margin: 10px 10px 10px 0;
  border-radius: 6px;
  h2 {
    font-size: 1.2em;
    margin: 0 0 0.5em 0;
    text-align: center;
  }
}
