/* This file is a mess and i dont care about it...get out of here! */

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #F4EAD5;
  color: #556270;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 100%;
  line-height: 1.5;
}

.group:before,
.group:after {
    content: "";
    display: table;
}
.group:after {
    clear: both;
}
.group {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

.part p {
  clear: left;
  margin-bottom: 1.5em;
}

.gist {
  font-weight: normal;
  text-shadow: none;
}
  .gist a {
    color: #556270!important
  }
  .gist-file {
    border: none!important;
  }
  .gist-meta {
    background-color: transparent!important;
    font-size: 10px!important;
  }
  .gist-data {
    background-color: transparent!important
  }
  .gist-highlight .line {
    color: #999!important;
  }
  .gist-highlight .nt,
  .gist-highlight .na {
    color: #556270!important;
  }
  .gist-highlight .s {
    color: #C44D58!important;  
  }
  .gist-highlight .nx {
    color: #3B2D38!important;
  }

code {
  background-color: #fff;
  border-bottom: 1px dotted #ccc;
}

.part {
  border-bottom: 1px solid #ccc;
  margin: 0 auto 30px auto;
  padding:  0 0 10px;
  width: 600px;
}

.header {
  background-color: #F4EAD5;
  width: 100%;
}
  .header h1 {
    color: #E94E77;
  }
  .header h1 span {
    color: #556270;
  }

ul {
  list-style: none;
}

.header_inner {
  margin: 0 auto;
  padding: 50px;
  width: 600px;
}
  .header_inner h1 {
    float: left;
  }

.example {
  background-color: rgba(255, 255, 255, .5);
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  padding: 18px;
}
  .example .gist-data {
    font-size: 12px!important;
  }

fieldset {
  border: none;
}
  fieldset legend {
    font-size: 14px;
    font-weight: bold;
  }

.how_to_use p {
  margin-bottom: 18px;
}

h1 {
  font-family: "Corben", Helvetica, Arial, sans-serif;
}
h1 span,
h2 {
  font-family: 'Helvetica', arial, serif;
}

h1,
h2 {
  margin-bottom: 0;
  padding: 0;
}

h2 {
  color: #556270;
  font-size: 18px;
  margin-bottom: 18px;
}

h1 span {
  display: block;
  font-size: 16px;
}

.dk_container {
  margin-right: 10px;
}
/* Two custom themes */
.dk_theme_orange {
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f1f1f1), color-stop(51%,#e1e1e1), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* W3C */
}
  .dk_theme_orange .dk_options a:hover,
  .dk_theme_orange .dk_option_current a {
    background-color: #E15A01;
    border-bottom-color: #604A42;
    color: #fff;
    text-shadow: #604A42 0 1px 0;
  }
  .dk_theme_orange .dk_toggle,
  .dk_theme_orange.dk_open .dk_toggle {
    background-color: transparent;
  }
  .dk_theme_orange.dk_focus .dk_toggle{
    box-shadow: 0 0 5px #E15A01;
    -moz-box-shadow: 0 0 5px #E15A01;
    -webkit-box-shadow: 0 0 5px #E15A01;
  }

.dk_theme_black {
  background: #aebcbf; /* Old browsers */
  background: -moz-linear-gradient(top, #aebcbf 0%, #6e7774 50%, #0a0e0a 51%, #0a0809 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#aebcbf), color-stop(50%,#6e7774), color-stop(51%,#0a0e0a), color-stop(100%,#0a0809)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #aebcbf 0%,#6e7774 50%,#0a0e0a 51%,#0a0809 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #aebcbf 0%,#6e7774 50%,#0a0e0a 51%,#0a0809 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #aebcbf 0%,#6e7774 50%,#0a0e0a 51%,#0a0809 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aebcbf', endColorstr='#0a0809',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, #aebcbf 0%,#6e7774 50%,#0a0e0a 51%,#0a0809 100%); /* W3C */
}
  .dk_theme_black .dk_toggle,
  .dk_theme_black.dk_open .dk_toggle {
    background-color: transparent;
    color: #fff;
    text-shadow: none;
  }
  .dk_theme_black .dk_options a {
    background-color: #333;
    color: #fff;
    text-shadow: none;
  }
    .dk_theme_black .dk_options a:hover,
    .dk_theme_black .dk_option_current a {
      background-color: #E15A01;
      color: #fff;
      text-shadow: #604A42 0 1px 0;
    }