//*---------------------------------------*
//  Search Field Styles
//*---------------------------------------*

.search-select .dk-select-options {
  margin-bottom: 2em;
}
.search-select .dk-select-options {
  margin-top: 2em;
}

.dk-search {
  width: 100%;
  height: 2em;
  display: none;
  padding: 0.25em;
  position: absolute;
  border-width: 0 1px;
  border-style: solid;
  border-color: #3297fd;
}

.dk-select-open-up .dk-search,
.dk-select-open-down .dk-search {
  display: block;
  background-color: white;
}
.dk-select-open-up .dk-search {
  bottom: 100%;
}
.dk-select-open-down .dk-search {
  top: 100%;
}

.dk-search-input {
  width: 100%;
  height: 100%;
  border: none;
  font: inherit;
  display: block;
  padding: 0 0.25em;
  &:focus {
    outline: none;
  }
}

.dk-search-fuzzy-highlight {
  background-color: rgba(0,0,0,0.1);
}

