/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.search-select .dk-select-options {
  margin-bottom: 2em; }

.search-select .dk-select-options {
  margin-top: 2em; }

.dk-search {
  width: 100%;
  height: 2em;
  display: none;
  padding: 0.25em;
  position: absolute;
  border-width: 0 1px;
  border-style: solid;
  border-color: #3297fd; }

.dk-select-open-up .dk-search,
.dk-select-open-down .dk-search {
  display: block;
  background-color: white; }

.dk-select-open-up .dk-search {
  bottom: 100%; }

.dk-select-open-down .dk-search {
  top: 100%; }

.dk-search-input {
  width: 100%;
  height: 100%;
  border: none;
  font: inherit;
  display: block;
  padding: 0 0.25em; }
  .dk-search-input:focus {
    outline: none; }

.dk-search-fuzzy-highlight {
  background-color: rgba(0, 0, 0, 0.1); }

body {
  background-color: #FAFAFA;
  padding: 40px 20px; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.container {
  max-width: 1140px;
  margin: 0 auto; }
  .container h1 {
    font-size: 3.5em;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    margin: 0 0 40px 0;
    text-align: center; }
  .container h2 {
    font-size: 1.2em;
    margin: 0 0 0.5em 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    text-align: center; }

.half {
  width: 45%;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  margin: 10px 1% 10px 0; }

.example-container, .gist-container {
  background-color: #ddd;
  padding: 15px;
  border-radius: 6px;
  text-align: center; }
  .example-container h2, .gist-container h2 {
    font-size: 1.2em;
    margin: 0 0 0.5em 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 700; }
  .example-container hr, .gist-container hr {
    width: 90%;
    margin: 0 auto;
    margin: 20px auto 20px auto;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #999999; }
  .example-container .dk-select, .gist-container .dk-select,
  .example-container .dk-select-multi,
  .gist-container .dk-select-multi {
    text-align: left; }

.gist-container {
  text-align: left;
  font-size: 0.8em !important; }
  .gist-container h3 {
    font-size: 1.2em;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    margin-bottom: 10px; }
  .gist-container .gist {
    -webkit-text-size-adjust: none !important; }
  .gist-container .gist-meta {
    font-size: 10px !important;
    padding: 7px !important; }
  .gist-container .gist-wrapper {
    margin-bottom: 0 !important;
    max-height: 160px;
    overflow: hidden; }
  .gist-container .btn {
    display: none;
    padding: 4px;
    border-radius: 6px;
    background-color: #7C7C7C;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    margin-top: 10px;
    text-decoration: none;
    color: white; }

.dk-option.hidden-option {
  display: none; }

.dk-selected.hidden-option {
  color: #AAAAAA; }

@media screen and (max-width: 800px) {
  .container h1 {
    font-size: 2.9em; }

  .half {
    display: block;
    width: 100%;
    margin: 10px auto 10px auto; } }
