//*---------------------------------------*
//  Imports
//*---------------------------------------*

@import "reset";

//*---------------------------------------*
//  vars
//*---------------------------------------*

$open_sans: 'Open Sans', sans-serif;

//*---------------------------------------*
//  Example page styles
//*---------------------------------------*

body{
  background-color: #FAFAFA;
  padding: 40px 20px;
}
*, *:before, *:after{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container{
  max-width: 1140px;
  margin: 0 auto;
  h1{
    font: {
      size: 3.5em;
      weight: 700;
      family: $open_sans;
    }
    margin: 0 0 40px 0;
    text-align: center;
  }
  h2 {
    font-size: 1.2em;
    margin: 0 0 0.5em 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    text-align: center;
  }
}

.half {
  width: 45%;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  margin: 10px 1% 10px 0;
}

.example-container {
  background-color: #ddd;
  padding: 15px;
  border-radius: 6px;
  text-align: center;
  h2 {
    font-size: 1.2em;
    margin: 0 0 0.5em 0;
    font-family: $open_sans;
    font-weight: 700;
  }
  hr {
    width: 90%;
    margin: 0 auto;
    margin: 20px auto 20px auto;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #999999;
  }
  .dk-select,
  .dk-select-multi {
    text-align: left;
  }
}

.gist-container {
  @extend .example-container;
  text-align: left;
  font-size: 0.8em !important;
  h3{
    font: {
      size: 1.2em;
      weight: 700;
      family: $open_sans;
    }
    text-align: center;
    margin-bottom: 10px;
  }
  .gist{
    -webkit-text-size-adjust: none !important;
  }
  .gist-meta{
    font-size: 10px !important;
    padding: 7px !important;
  }
  .gist-wrapper{
    margin-bottom: 0 !important;
    max-height: 160px;
    overflow: hidden;
  }
  .btn{
    display: none;
    padding: 4px;
    border-radius: 6px;
    background-color: #7C7C7C;
    font: {
      family: $open_sans;
      size: 12px
    }
    margin-top: 10px;
    text-decoration: none;
    color: white;
  }
}

.dk-option.hidden-option {
  display: none;
}

.dk-selected.hidden-option {
  color: #AAAAAA;
}

@media screen and (max-width: 800px) {
  .container{
    h1{
      font-size: 2.9em;
    }
  }
  .half{
    display: block;
    width: 100%;
    margin: 10px auto 10px auto;
  }
}
