body {
  @include open_sans;
  line-height: 20px;
  background: #FFE100;
}

h1 {

}

h2 {
  font-size: 1.8rem;
  line-height: 2.2rem;
}

a {
  color: black;

  &:hover {
    text-decoration: none;
  }

  &:active {
    color: #4A4A4A;
  }
}

code {
  font-family: monospace;
  font-size: 13px;
  font-weight: 300;
}
