//Fresh start
@import "reset";
@import "mixins";
@import "base";

.main-header {
  padding: 25px 0;
}

.container {
  font-size: 0;
  display: flex;
}

.sidebar,
.content {
  font-size: 15px;
  display: inline-block;
  vertical-align: top;
}

// Make sure we check this on mobile
.sidebar {
  position: fixed;
  width: 200px;

  a {
    width: 100%;
    display: block;
    background: #3D3D3D;
    padding: 2px 15px;
    margin: 2px 0;
    color: white;
    text-decoration: none;
  }
}

.content {
  margin-left: 210px;
}

.tab-content {
  display: none;

  &:first-child {
    display: block;
  }
}

.tabs {
  li {
    display: inline-block;
    padding: 10px;
  }
}
